html {
    height: 100%;
    width: 100%
}

body {
    background-color: rgb(1, 92, 185);
}

/*Fonts*/
h1, h2, h3, p, a:visited, a:hover {
    color: rgb(255, 255, 255);
}

a:link {
    color: rgb(86, 188, 138);
}

h1, h2, a {
    font-family: 'Courier New', monospace;
}

h3, p {
    font-family: Verdana, sans-serif;
}

/*Divs*/
.header {
    background-color: rgb(35, 31, 32);
    text-align: center;
}

.post {
    background-color: rgb(35, 31, 32);
}
