html {
    height: 100%;
    width: 100%
}

body {
    background-color: rgb(54, 70, 93);
}

/*Fonts*/
h1, h2, h3, p, a:link, a:visited, label, ul{
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(1, 92, 185);
}

h1, h2, a, input {
    font-family: 'Courier New', monospace;
}

ul, p, label {
    font-family: Verdana, sans-serif;
}

/*Divs*/
.header {
    background-color: rgb(35, 31, 32);
    text-align: center;
}

.post {
    background-color: rgb(35, 31, 32);
}
